<nav>
    <ul>
      <li><a href="/usr/352/">Home</a></li>
      <li><a href="/usr/352/about">About</a></li>
      <li><a href="/usr/352/movies/search">Movies</a></li>
      <li><a href="/usr/352/watchlist">Watchlist</a></li>
      <li><a href="/usr/352/logout">Logout</a></li>
    </ul>
</nav>
  