<div class="about-container">
    <h1>About This App</h1>
    <p>FlixList is a Watch List application that is designed for users that want to keep track of new or favourite movies. Users can search for movies, save them to their personal watchlist, and mark them as watched once they've seen them. The real-time movie information on the application is included through The Movie Database (TMDb). Get searching and save your favourite movies!</p>
</div>